<div class="row">
  <% posts.each do |post| %>
  <div class="card-deck mx-1 my-2">
    <div class="card border-secondary bg-light" style="width: 10rem">
      <div class="card-img-top">
        <%= image_tag post.get_post_image, height: '120', width: '100%' %>
      </div>
      <div class="card-body">
        <%= link_to post_path(post), class: 'link' do %>
          <h6 class="card-title border-bottom"><b><%= post.name %></b></h6>
        <% end %>
        <small>
          <div class="card-text">一言紹介：<br><%= post.introduction.truncate(18) %></div>
        </small>
      </div>
      <div class="card-footer bg-light">
        <small>
          <div class="card-text">所在地: <%= post.prefecture %></div>
            <% if member_signed_in? %>
              <div class="card-btn-area card-text">
                <div class="card-btn favorite-btn_<%= post.id %>">
                  <%= render 'public/favorites/favorite_btn', post: post %>
                </div>
                <div class="card-btn interest-btn_<%= post.id %>">
                  <%= render 'public/interests/interest_btn', post: post %>
                </div>
                <div class="card-btn">
                  <i class="far fa-comment-dots"></i> <%= post.comments.count %>
                </div>
              </div>
            <% end %>
          <div class="card-text">投稿者: <%= post.member.nickname %></div>
          <div class="card-text">更新日: <%= l post.updated_at %></div>
          <div class="card-text">投稿日: <%= l post.created_at %></div>
        </small>
      </div>
    </div>
  </div>
  <% end %>
</div>