<div id='map'></div>

<style>
  #map {
    height: 300px;
    width: auto;
  }
</style>

<script>
  // 初期マップの設定
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: <%= post.latitude %>, lng: <%= post.longitude%>},
      zoom: 15,
      fullscreenControl: false, //マップを全画面モードで表示するボタンを非表示
      streetViewControl: false, //ストリートビューに切り替えるボタンを非表示
      scaleControl: true, //地図のスケールを表示（デフォルトは非表示）
      mapTypeControl: false //地図と航空写真を切り替えるボタンを非表示
    });

    marker = new google.maps.Marker({
      map: map,
      position:  {lat: <%= post.latitude %>, lng: <%= post.longitude %>}
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?language=ja&key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>