<div id='map'></div>

<style>
#map {
  height: 300px;
  width: auto;
}
</style>

<script>
  function initMap() {

    // 初期表示位置
    let latlng = new google.maps.LatLng(37.5, 137.5);
    // デザイン
    let styles = [
      {
        stylers: [
          { "saturation": 0 },
          { "lightness": 0 }
        ]
        }
      ];

    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4.7,
      styles: styles,
      center: latlng
    });

    // 複数マーカー ここから
    <% posts.each do |post|%>
      ( function() {
        let markerLatLng = { lat: <%= post.latitude %>, lng: <%= post.longitude %> }; // 緯度経度のデータ作成
        let marker = new google.maps.Marker({
          position: markerLatLng,
          map: map
        });
        // マーカーをクリックしたとき、詳細情報(infowindow)を表示
        let infowindow = new google.maps.InfoWindow({
          position: markerLatLng,
          <% if admin_signed_in? %> //詳細ページへのリンク(別タブで開く)
            content: "<a href='<%= admin_post_path(post.id) %>' target='_blank'><%= post.name %></a>"
          <% else %>
            content: "<a href='<%= post_path(post.id) %>' target='_blank'><%= post.name %></a>"
          <% end %>
        }); //infowindowをクリックすると開く
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      })();
    <% end %>
    // 複数マーカー ここまで
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?language=ja&key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>