<div class="container my-3">
  <div class="row">
    <div class="col-md-8">
      <h2 class="m-3 border-bottom"><i class="fas fa-dog"></i> 施設一覧</h2>
    </div>
    <div class="col-md-2">
      <%= link_to new_post_path do %>
        <i class="far fa-plus-square"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">

      <!--投稿一覧-->
      <% @posts.each do |post| %>
        <div class="col-sm-9 offset-sm-2 col-md-3 offset-md-0">
          <div class="card-link my-3">
            <div class="card my-3 mx-2">
              <%= link_to post_path(post), style: "color: black;" do %>
                <%#= get_post_image_tag post, :image, fallback: "no_image.jpg", size: "250x250", class: "card-img-top" %>
                  <div class="card-body">
                    <h5 class="card-title"><%= post.name %></h5>
                    <p class="card-text"><%= post.prefecture %></p>
                    <p class="card-text"><%= post.introduction %></p>
              <% end %>
                    <p class="card-text pt-2"><i class="far fa-comment-dots"></i><%= post.comments.count %></p>
                    <p class="card-text my-0">
                      <% if member_signed_in? %>
                        # <div id="favorite-btn<%= post.id %>">
                        #   <%#= render 'member/favorites/favorite_btn', post: post %>
                        # </div>
                      <% end %>
                    </p>
                    <p class="card-text"><small class="text-muted"><%= post.created_at.strftime('%Y/%m/%d') %></small></p>
                  </div>
            </div>
          </div>
        </div>
      <% end %>


<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

<!-- js部分 -->
<script>
    function initMap() {

      //初期表示位置
      let latlng = new google.maps.LatLng(38.60, 139.5);
      //デザイン
      let styles = [
          {
            stylers: [
             { "saturation": 0 },
             { "lightness": 0 }
            ]
           }
          ];

      let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5.5,
          styles: styles,
          center: latlng
      });
      let transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

//複数マーカー ここから
      <% @posts.each do |post|%>
        ( function() { 
          let markerLatLng = { lat: <%= post.latitude %>, lng: <%= post.longitude %> }; // 緯度経度のデータ作成
          let marker = new google.maps.Marker({ 
            position: markerLatLng, 
            map: map 
          });
//マーカーをクリックしたとき、詳細情報を表示
          let infowindow = new google.maps.InfoWindow({
            position: markerLatLng,
            content: "<a href='<%= post_url(post.id) %>' target='_blank'><%= post.name %></a>"
          }); //ここで詳細ページへのリンクを表示させる
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });

       })();
      <% end %>
      //複数マーカー ここまで  
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>