<div class="container my-3">
  <div class="row">
    <div class="col-md-7">
      <h2 class="m-3 border-bottom"><i class="fas fa-dog"></i> 施設一覧</h2>
      <%= link_to "+", new_post_path, class: "btn btn-lg rounded-pill border shadow-sm" %>

      <%= link_to '最新順(更新日)', posts_path(condition: :latest, category: @category&.name), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
      <%= link_to '古い順(投稿日)', posts_path(condition: :old, category: @category&.name), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
      <%= link_to 'おすすめ順', posts_path(condition: :most_favorited, category: @category&.name), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
    </div>

    <div class="col-md-5 my-3 p-3 border shadow-sm">
      <div class="tag-search">
        <%= form_with url: search_path, local: true, method: :get do |f| %>
          <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
          <%= button_tag type: "submit", class: "btn btn-light search-btn" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!--tab表示-->
  <div class="wrapper">
    <ul class="tab-menu">
      <li class="<%= 'active' unless @category %>"><%= link_to '全て', posts_path %></li>
      <!--タブに表示されたカテゴリー名に紐づく投稿を一覧表示-->
      <% @categories.each do |category| %>
        <li class="<%= 'active' if category == @category %>"><%= link_to category.name, posts_path(category: category.name) %></li>
      <% end %>
    </ul>

    <div class="tab-contents">
      <div class="tab-area is-active">
        <div class="row">
        <!--一覧-->
          <div class="col-md-9">
            <%= render 'index', posts: @posts %>
            <%= paginate @posts %>
          </div>
  
          <div class="col-md-3">
            <%= render 'map_index', posts: @posts %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>