<div class="container my-3">
  <div class="row">
    <div class="col-md-8">
      <h2 class="m-3 border-bottom"><i class="fas fa-dog"></i> 施設一覧</h2>
    </div>
    <div class="col-md-2 mr-3">
      <%= link_to new_post_path do %>
        <i class="far fa-plus-square"></i>
      <% end %>
    </div>
  </div>

  <%= form_with url: search_path, local: true, method: :get do |f| %>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
    <%= f.submit "検索" %>
  <% end %>

  <div class="wrap">
    <ul id="tab-menu">
      <li><%= link_to '全て', posts_path , class: 'active' %></li>
      <!--タブに表示されたカテゴリー名に紐づく投稿を一覧表示-->
      <% @categories.each do |category| %>
        <li><%= link_to category.name, posts_path(category: category.name), class: ('active' if category == @category) %></li>
      <% end %>
    </ul>

    <div id="tab-contents">
      <div id="tab0" class="tab">
        <!--一覧-->
        <%= render 'index', posts: @posts %>
      </div>
    </div>
  </div>

  <div>
    <%= render 'map_index', posts: @posts %>
  </div>

</div>


