<div class="container my-3">
  <div class="row">
    <div class="col-md-9 text-center border-bottom">
      <h2 class="m-3"><i class="fas fa-dog"></i>施設詳細</h2>
    </div>
    <div>
    <% if @post.member.id == current_member.id %>
      <!--編集ボタン-->
      <%= link_to edit_post_path(@post), class: 'col-md-1' do %>
        <i class="fas fa-edit"></i>
      <% end %>

      <!--削除ボタン-->
      <%= link_to post_path(@post), method: :delete, 'date-confirm' => 'この投稿を削除します', class: 'col-md-1' do %>
        <i class="fas fa-trash-alt"></i></i>
      <% end %>
    <% end %>
    </div>
    <!--通報ボタン-->
    <%= link_to new_post_post_reports_path(@post.id), class: 'col-md-1' do %>
      <i class="fas fa-exclamation"></i>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-4 my-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>名称：<%= @post.name %></h4>
        </div>

      </div>
      <div>
        <%= image_tag @post.get_post_image, height: 200, class: 'image-fluid img-thumbnail' %>
      </div>
      <div class"row align-right">
        <div class="col-md-3 favorite-btn">
          <% if @post.favorited_by?(current_member) %>
            <p>
              <%= link_to post_favorites_path(@post), method: :delete do |f| %>
                <i class="fas fa-heart"></i> <%= @post.favorites.count %>
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to post_favorites_path(@post), method: :post do |f| %>
                <i class="far fa-heart"></i> <%= @post.favorites.count %>
              <% end %>
            </p>
          <% end %>
        </div>
        <div class="col-md-3 interest-btn">
          <% if @post.interested_by?(current_member) %>
            <p>
              <%= link_to post_interest_path(@post), method: :delete do |f| %>
                <i class="fas fa-thumbs-up"></i> <%= @post.interests.count %>
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to post_interests_path(@post), method: :post do |f| %>
                <i class="far fa-thumbs-up"></i> <%= @post.interests.count %>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div id='map'></div>
      </div>
      <!--Map表示-->
      <div class="row">
        <%= render 'map_show' %>
      </div>
    </div>

    <div class="col-md-7 offset-1 my-3">
      <div class="row">
        <div class="col-12">
          <div class="place-info shadow-lg p-3">
            <div class="row">
              <div class="col-md-3"><p>施設カテゴリー：</p></div>
              <div class="col-md-9"><%= @post.category.name %></div>
            </div>
            <div class="row">
              <div class="col-md-3"><p>一言紹介：</p></div>
              <div class="col-md-9"><%= @post.introduction %></div>
            </div>
            <div class="row">
              <div class="col-md-3"><p>詳細：</p></div>
              <div class="col-md-9"><%= @post.information %></div>
            </div>
            <div class="row">
              <div class="col-md-3"><p>タグ：</p></div>
              <div class="col-md-9"><%= @post.tags.pluck(:name).join(' / ') %></div>
            </div>
            <div class="row">
              <div class="col-md-3"><p>施設住所:</p></div>
              <div class="col-md-9"><%= @post.address %></div>
            </div>
            <div class="row mt-3">
              <div class="col-md-3"><p>投稿日：</p></div>
              <div class="col-md-9"><%= @post.created_at %></div>
            </div>
            <div class="row">
              <div class="col-md-3"><p>更新日：</p></div>
              <div class="col-md-9"><%= @post.updated_at %></div>
            </div>
            <div class="row">
              <div class="col-md-3"><p>投稿者：</p></div>
              <div class="col-md-9">
                <%= image_tag @post.member.get_image, height: 50 %>
                <%= @post.member.name %>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="comments">
      </div>
    </div>
  <div>
<div>