<%= form_with model: member, url: member_registration_path, html: {class: 'p-5 shadow-lg', autocomplete: 'off'} do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    
    <div class="form-group row">
      <%= f.label :name, '氏名', class: 'col-md-3 offset-1' %>
      <%= f.text_field :name, autofocus: true, placeholder: '公開されません', class: 'col-md-7' %>
    </div>
    <div class="form-group row">
      <%= f.label :nickname, 'ニックネーム', class: 'col-md-3 offset-1' %>
      <%= f.text_field :nickname, autofocus: true, placeholder: 'サイト上で表示されます', class: 'col-md-7' %>
    </div>
    # パスワードは編集画面には不要
    <% if current_page?(new_member_registration_path) %>
      <div class="form-group row">
        <%= f.label :password, 'パスワード', class: 'col-md-3 offset-1' %>
        <%= f.password_field :password, autofocus: true, placeholder: '6文字以上', class: 'col-md-7' %>
      </div>
    <% end %>
    <div class="form-group row">
      <%= f.label :email, 'メールアドレス', class: 'col-md-3 offset-1' %>
      <%= f.email_field :email, autofocus: true, class: 'col-md-7' %>
    </div>
    # 編集画面では画像プレビュー表示
    <div class="form-group row">
      <% if current_page?(new_member_registration_path) %>
        <%= f.label :image, '会員画像', class: 'col-md-3 offset-1' %>
        <%= f.file_field :image, accept: 'image/*', class: 'img_field col-md-7' %>
      <% else %>
        <%= f.label :image, '会員画像', class: 'col-md-3 offset-1' %>
        <div class="img-preview col-md-7">
          <%= f.file_field :image, accept: 'image/*', class: 'img_field', style: 'display:none;' %>
          <%= image_tag member.get_image, height: 200, onClick: "$('.img_field').click()", class: "img_prev" %>
        </div>
      <% end %>
    </div>
    <div class="form-group row">
      <%= f.label :dog, '好きな犬種', class: 'col-md-3 offset-1' %>
      <%= f.text_field :dog, autofocus: true, placeholder: '複数OKです', class: 'col-md-7' %>
    </div>
    <div class="form-group row">
      <%= f.label :introduction, '自己紹介文', class: 'col-md-3 offset-1' %>
      <%= f.text_area :introduction, autofocus: true, class: 'col-md-7' %>
    </div>
    # 編集画面では画像プレビュー表示
    <div class="form-group row">
      <% if current_page?(new_member_registration_path) %>
        <%= f.label :dog_image, '犬の画像', class: 'col-md-3 offset-1' %>
        <div class="col-md-7">
          <%= f.file_field :dog_image, accept: 'image/*', multiple: true, class: 'row' %>
        </div>
      <% else %>
        <%= f.label :dog_image, '犬の画像', class: 'col-md-3 offset-1' %>
        <div class="img-preview col-md-7">
          <%= f.file_field :dog_image, accept: 'image/*', multiple: true, class: 'img_field2', style: 'display:none;' %>
          <%= image_tag member.get_dog_image, height: 100, onClick: "$('.img_field2').click()", class: "img_prev2" %>
          <button type="button" class="add-dog-image">画像を追加する</button>
        </div>
      <% end %>
    </div>
    <div class="form-group row">
      <div class="col text-right">
        <%= f.submit "Sign up", class: 'btn btn-outline-info' %>
      </div>
    </div>
  <% end %>