<div class="row">
  <div class="col-md-10 mb-3 mx-auto">
    <%= image_tag member.get_image, class: 'img-fluid img-thumbnail' %>
  </div>
</div>
<% if (member == current_member) || (admin_signed_in?) %>
  <div class="row my-3">
    <div class="col-md-4 col-sm-4 offset-0 offset-md-1">名前：</div>
    <div class="col-md-7 col-sm-7"><%= member.name %></div>
  </div>
<% end %>
<div class="row my-3">
  <div class="col-md-4 col-sm-4 offset-0 offset-md-1">ニックネーム：</div>
  <div class="col-md-7 col-sm-7"><%= member.nickname %></div>
</div>
<div class="row my-3">
  <div class="col-md-4 col-sm-4 offset-0 offset-md-1">好きな犬種：</div>
  <div class="col-md-7 col-sm-7"><%= member.dog %></div>
</div>
<div class="row my-3">
  <div class="col-md-4 col-sm-4 offset-0 offset-md-1">自己紹介文：</div>
  <div class="col-md-7 col-sm-7"><%= safe_join(member.introduction.split("\n"),tag(:br)) %></div>
</div>
<div class="row my-3">
  <div class="col-md-4 col-sm-4 offset-0 offset-md-1">登録日：</div>
  <div class="col-md-7 col-sm-7"><%= l member.created_at %></div>
</div>