<div class="container my-3">
  <div class="row">
    <div class="col-md-6 text-center border-bottom">
      <h2 class="m-3"><i class="fas fa-dog"></i> "<%= @member.nickname %>" さんのページ</h2>
    </div>

    <div class="col-md-6 p-3">
      <div class="row">
        <% if @member.id == current_member.id %>
          <div class="col-md-3">
            <%= link_to edit_member_path, class: 'link' do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </div>
          <div class="col-md-2">
            <i class="fas fa-thumbs-up"></i> <%= @member.favorites.count %>
          </div>
          <div class="col-md-2">
            <%= link_to post_interests_path(current_member), class: 'link' do %>
              <i class="fas fa-star"></i> <%= @member.interests.count %>
            <% end %>
          </div>
          <div class="col-md-2">
            <i class="fas fa-comment-dots"></i> <%= @member.comments.count %>
          </div>
          <div class="col-md-2">
            <% if @member.id == current_member.id %>
              <%= link_to notifications_path(filter: 'unchecked'), class: 'link' do %>
                <i class="fas fa-bell"></i> <%= @member.passive_notifications.where(checked: false).count %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!--会員情報-->
  <div class="row">
    <div class="col-md-6 my-5 p-5 shadow-lg">
      <div class="row">
        <div class="col mb-3 mx-auto">
          <%= image_tag @member.get_image, height: 200, class: 'img-fluid' %>
        </div>
      </div>
      <% if @member.id == current_member.id %>
        <div class="row">
          <div class="col-md-4"><p>名前：</p></div>
          <div class="col-md-8"><%= @member.name %></div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-4"><p>ニックネーム：</p></div>
        <div class="col-md-8"><%= @member.nickname %></div>
      </div>
      <div class="row">
        <div class="col-md-4"><p>好きな犬種：</p></div>
        <div class="col-md-8"><%= @member.dog %></div>
      </div>
      <div class="row">
        <div class="col-md-4"><p>自己紹介文：</p></div>
        <div class="col-md-8"><%= safe_join(@member.introduction.split("\n"),tag(:br)) %></div>
      </div>
    </div>

    <!--画像Swiper-->
    <div class="col-md-6 my-7 pt-5 pl-5">
      <div class="row">
        <div class="col">
          <div class="swiper">
            <div class="swiper-wrapper">
              <% @member.get_dog_images.each do |dimage| %>
                <div class="swiper-slide">
                  <%= image_tag dimage, height: '300', class: 'img-fluid' %>
                </div>
              <% end %>
            </div>
            <!-- ページネーションの要素 -->
            <div class="swiper-pagination"></div>
            <!-- ナビゲーションボタン （前、次） -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>

    <!--Swiper js-->
    <script>
      const swiper = new Swiper('.swiper', {
        //オプションの設定
        loop: true, //最後までスライドしたら最初の画像に戻る
        autoplay: {
          delay: 2000, // 2秒ごとにスライドを自動で切り替える
        },

        //ページネーション表示の設定
        pagination: {
          el: '.swiper-pagination', //ページネーションの要素
        },

        //ナビゲーションボタン（矢印）表示の設定
        navigation: {
          nextEl: '.swiper-button-next', //「次へボタン」要素の指定
          prevEl: '.swiper-button-prev', //「前へボタン」要素の指定
        }
      });
    </script>
  </div>
  <!--投稿一覧-->
  <div class="row">
    <h5>投稿一覧（全<%= @member.posts.count %>件）</h5>
    <%= link_to "全件表示", member_path(@member.id, show_all: true), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
    <%= link_to "表示を減らす", member_path(@member.id), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
    <table class="table table-hover my-3 border">
      <thead>
        <tr>
          <th>施設名称</th>
          <th>所在地</th>
          <th>カテゴリー</th>
          <th>タグ</th>
          <th>一言紹介文</th>
          <th>更新日</th>
          <th>投稿日</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to post_path(post), class: 'link' do %>
                <%= post.name %>
              <% end %>
            </td>
            <td><%= post.prefecture %></td>
            <td><%= post.category.name %></td>
            <td><%= post.tags.pluck(:name).join(' / ') %></td>
            <td><%= post.introduction.truncate(15) %></td>
            <td><%= l post.updated_at %></td>
            <td><%= l post.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
     <%#= paginate @posts %>
  </div>
</div>