<div class="container my-3">
  <div class="row">
    <div class="col-md-6">
      <h2 class="title m-3">
        <%= image_tag @member.get_image, style: 'border-radius: 50%', size: '50x50' %>
        "<%= @member.nickname %>" さんのページ
      </h2>
    </div>

    <div class="col-md-6 p-3">
      <div class="row">
        <% if @member.id == current_member.id %>
          <div class="col-md-3">
            <%= link_to edit_member_path, class: 'link' do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </div>
          <div class="col-md-2">
            <i class="fas fa-star"></i> <%= @member.favorites.count %>
          </div>
          <div class="col-md-2">
            <%= link_to post_interests_path(current_member), class: 'link' do %>
              <i class="fas fa-paw"></i> <%= @member.interests.count %>
            <% end %>
          </div>
          <div class="col-md-2">
            <i class="fas fa-comment-dots"></i> <%= @member.comments.count %>
          </div>
          <div class="col-md-2">
            <% if @member.id == current_member.id %>
              <%= link_to notifications_path(filter: 'unchecked'), class: 'link' do %>
                <i class="fas fa-bell"></i> <%= @member.passive_notifications.where(checked: false).count %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 my-5 p-5 shadow-lg">
      <!--会員情報-->
      <div class="row">
        <div class="col-md-10 mb-3 mx-auto">
          <%= image_tag @member.get_image, class: 'img-fluid img-thumbnail' %>
        </div>
      </div>
      <% if @member.id == current_member.id %>
        <div class="row">
          <div class="col-md-4"><p>名前：</p></div>
          <div class="col-md-8"><%= @member.name %></div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-4"><p>ニックネーム：</p></div>
        <div class="col-md-8"><%= @member.nickname %></div>
      </div>
      <div class="row">
        <div class="col-md-4"><p>好きな犬種：</p></div>
        <div class="col-md-8"><%= @member.dog %></div>
      </div>
      <div class="row">
        <div class="col-md-4"><p>自己紹介文：</p></div>
        <div class="col-md-8"><%= safe_join(@member.introduction.split("\n"),tag(:br)) %></div>
      </div>
    </div>

    <div class="col-md-6 pt-5">
      <!--画像Swiper-->
      <%= render 'image_swipe', member: @member %>

      <!--ブックマーク一覧-->
      <% if @member.id == current_member.id %>
        <div class="row">
          <div class="col-md-11 mt-3 mx-auto">
            <h5>
              <i class="fas fa-paw"></i>ブックマーク（全<%= @member.interests.count %>件）
              <%= link_to "全て見る", post_interests_path(current_member), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
            </h5>
            <table class="table table-hover border">
              <thead>
                <tr>
                  <th>施設名称</th>
                  <th>所在地</th>
                  <th>カテゴリー</th>
                </tr>
              </thead>
              <tbody>
              <% if @interest_posts.empty? %>
                <tr>
                  <td>ブックマークした施設はありません</td>
                </tr>
              <% else %>
                <% @interest_posts.each do |post| %>
                  <tr>
                    <td>
                      <%= link_to post_path(post), class: 'link' do %>
                        <%= post.name %>
                      <% end %>
                    </td>
                    <td><%= post.prefecture %></td>
                    <td><%= post.category.name %></td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!--投稿一覧-->
  <div class="row">
    <div class="col-md-11 mx-auto">
      <h5>
        投稿一覧（全<%= @member.posts.count %>件）
        <%= link_to "全て見る", member_path(@member.id, show_all: true), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
        <%= link_to "表示を減らす", member_path(@member.id), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
        <%= link_to "+", new_post_path, class: "btn btn-sm rounded-pill border shadow-sm" %>
      </h5>

      <%= render 'public/posts/index', posts: @posts %>
      <div class="row justify-content-center mt-3">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
  <!--Top-pageリンク-->
  <p id="page-top"><a href="#">Page Top</a></p>
</div>
<%= javascript_pack_tag 'pagetop' %>