<div class="container my-3">
  <div class="row">
    <div class="col-md-6 text-center border-bottom">
      <h2 class="m-3"><i class="fas fa-dog"></i> "<%= @member.nickname %>" のページ</h2>
    </div>
    <div class="col-md-1">
      <% if @member.id == current_member.id %>
        <%= link_to edit_member_path do %>
          <i class="fas fa-edit"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-1">
      <i class="fas fa-thumbs-up" style= "color:gray;"></i> <%= @member.favorites.count %>
    </div>
    <div class="col-md-1">
      <i class="fas fa-star" style= "color:gray;"></i> <%= @member.interests.count %>
    </div>
    <div class="col-md-1">
      <i class="fas fa-comment-dots" style= "color:gray;"></i> <%= @member.comments.count %>
    </div>
    <div class="col-md-1">
      <% if @member.id == current_member.id %>
        <%= link_to notifications_path do %>
          <i class="fas fa-bell" style= "color:gray;"></i> <%= @member.passive_notifications.where(checked: false).count %>
        <% end %>
      <% end %>
    
      <i class="fas fa-exclamation"></i> <%= (@member.comment_reports.count) + (@member.post_reports.count) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 my-5 shadow-lg">
      <div class="row">
        <div class="col my-3 text-center">
          <%= image_tag @member.get_image, height: 200 %>
        </div>
      </div>
      <% if @member.id == current_member.id %>
      <div class="row">
        <div class="col-md-4">
          <p>名前：</p>
        </div>
        <div class="col-md-8">
          <%= @member.name %>
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-md-4">
          <p>ニックネーム：</p>
        </div>
        <div class="col-md-8">
          <%= @member.nickname %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>好きな犬種：</p>
        </div>
        <div class="col-md-8">
          <%= @member.dog %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p>自己紹介文：</p>
        </div>
        <div class="col-md-8">
          <%= @member.introduction %>
        </div>
      </div>
    </div>

    <div class="col-md-5 offset-1">
      <% if @member.dog_images.attached? %>
        <% @member.dog_images.each do |dimage| %>
          <%= image_tag dimage, height: 150 %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>