<div class="container my-3">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title m-3"><i class="fas fa-dog"></i> 投稿一覧</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-3">
      <% if @member %>
        <%= link_to '最新順(更新日)', admin_posts_path(condition: :update_latest, member_id: @member.id), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
        <%= link_to '最新順(投稿日)', admin_posts_path(condition: :latest, member_id: @member.id), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
        <%= link_to '古い順(投稿日)', admin_posts_path(condition: :old, member_id: @member.id), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
        <%= link_to admin_posts_path(condition: :most_favorited, member_id: @member.id), class: 'btn btn-sm btn-outline-secondary rounded-pill' do %>
          <i class="fas fa-star"></i>おすすめ順
        <% end %>
      <% else %>
        <%= link_to '最新順(更新日)', admin_posts_path(condition: :update_latest), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
        <%= link_to '最新順(投稿日)', admin_posts_path(condition: :latest), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
        <%= link_to '古い順(投稿日)', admin_posts_path(condition: :old), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
        <%= link_to admin_posts_path(condition: :most_favorited), class: 'btn btn-sm btn-outline-secondary rounded-pill' do %>
          <i class="fas fa-star"></i>おすすめ順
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render 'index', posts: @posts %>
      <div class="row justify-content-center my-2">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <%= render 'public/posts/map_index', posts: @posts %>
  </div>
</div>