<div class="container my-3">
  <div class="row">
    <div class="col-md-10 text-center mx-auto mb-3">
      <h2 class="headline">
        We can go anywhere "with Doggies"<br>
        Let's see doggie friendly places!!
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h2 class="m-3"><i class="fas fa-dog"></i> 新規会員登録</h2>
      <%= form_with model: @member, url: member_registration_path, html: {class: 'p-5 shadow-lg', autocomplete: 'off'} do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="form-group row">
          <%= f.label :name, '氏名', class: 'col-md-3 offset-0 offset-md-1' %>
          <%= f.text_field :name, autofocus: true, placeholder: '公開されません', class: 'col-md-7' %>
        </div>
        <div class="form-group row">
          <%= f.label :nickname, 'ニックネーム', class: 'col-md-3 offset-0 offset-md-1' %>
          <%= f.text_field :nickname, autofocus: true, placeholder: 'サイト上で表示されます', class: 'col-md-7' %>
        </div>
        <div class="form-group row">
          <%= f.label :password, 'パスワード', class: 'col-md-3 offset-0 offset-md-1' %>
          <%= f.password_field :password, autofocus: true, placeholder: '6文字以上（登録後は変更できません）', class: 'col-md-7' %>
        </div>
        <%= render "public/members/form", f: f, member: resource, submit_text: "会員登録" %>
      <% end %>
    </div>
  </div>
</div>