<% if admin_signed_in? %>
<!--管理者側の検索結果-->

  <div class="container my-3">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title m-3"><i class="fas fa-search"></i> "<%= @word %>" 検索結果<small>(全<%= @posts_count.length %>件)</small></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <%= link_to '最新順(更新日)', search_path(condition: :update_latest, category: @category&.name, word: @word), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
        <%= link_to '最新順(投稿日)', search_path(condition: :latest, category: @category&.name, word: @word), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
        <%= link_to '古い順(投稿日)', search_path(condition: :old, category: @category&.name, word: @word), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
        <%= link_to search_path(condition: :most_favorited, category: @category&.name, word: @word), class: 'btn btn-sm btn-outline-secondary rounded-pill' do %>
          <i class="fas fa-star"></i>おすすめ順
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render 'admin/posts/index', posts: @posts %>
        <div class="row justify-content-center my-2">
          <%= paginate @posts %>
        </div>
      </div>
    <div>
      <%= render 'public/posts/map_index', posts: @posts %>
    </div>
  </div>


<% elsif member_signed_in? %>
<!--会員側の検索結果-->
  <div class="container my-3">
    <div class="row">
      <div class="col mb-3">
        <% unless @tag_ids %>
        <!--キーワード検索の並べ替え-->
          <h2 class="title m-3"><i class="fas fa-search"></i> "<%= @word %>" 検索結果 <small>(全<%= @posts_count.length %>件)</small></h2>
          <%= link_to '最新順(更新日)', search_path(condition: :update_latest, category: @category&.name, word: @word), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
          <%= link_to '最新順(投稿日)', search_path(condition: :latest, category: @category&.name, word: @word), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
          <%= link_to '古い順(投稿日)', search_path(condition: :old, category: @category&.name, word: @word), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
          <%= link_to search_path(condition: :most_favorited, category: @category&.name, word: @word), class: 'btn btn-sm btn-outline-secondary rounded-pill' do %>
            <i class="fas fa-star"></i>おすすめ順
          <% end %>
        <% else %>
        <!--タグ検索の並べ替え-->
          <h2 class="title m-3"><i class="fas fa-search"></i> "<%= @tag_word %>" 検索結果 <small>(全<%= @posts_count.length %>件)</small></h2>
          <%= link_to '最新順(更新日)', search_path(condition: :update_latest, tag_ids: @tag_ids), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
          <%= link_to '最新順(投稿日)', search_path(condition: :latest, tag_ids: @tag_ids), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
          <%= link_to '古い順(投稿日)', search_path(condition: :old, tag_ids: @tag_ids), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
          <%= link_to search_path(condition: :most_favorited, tag_ids: @tag_ids), class: 'btn btn-sm btn-outline-secondary rounded-pill' do %>
            <i class="fas fa-star"></i>おすすめ順
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="wrapper">
      <!--キーワード検索結果の場合tab表示-->
      <% unless @tag_ids %>
        <ul class="tab-menu">
          <li class="<%= 'active' unless @category %>"><%= link_to '全て', search_path(word: @word) %></li>
          <!--タブに表示されたカテゴリー名に紐づく投稿を一覧表示-->
          <% @categories.each do |category| %>
            <li class="<%= 'active' if category == @category %>"><%= link_to category.name, search_path(category: category.name, word: @word) %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="tab-contents">
        <div class="tab-area is-active">
          <% if @posts.empty? %>
            <div class="row">
              <div class="col-md-10 mt-5 text-center">
                <h4>該当する施設が見つかりません</h4>
              </div>
            </div>
          <% else %>
            <div class="row">
              <!--一覧-->
              <div class="col-md-8">
                <%= render 'public/posts/index', posts: @posts %>
                <div class="row justify-content-center my-2">
                  <%= paginate @posts %>
                </div>
              </div>
              <!--Map-->
              <div class="col-md-4">
                <%= render 'public/posts/map_index', posts: @posts %>
              </div>
            </div>
          <% end %>
          <!--Top-pageリンク-->
          <p id="page-top"><a href="#">Page Top</a></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_pack_tag 'pagetop' %>