<div class="container my-3">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h2 class="m-3 border-bottom"><i class="fas fa-dog"></i> 施設カテゴリー</h2>

      <div class="index">
        <div class="row my-3"><h5>登録済み一覧</h5></div>
        <div class="row">
          <div class="flex-wrap">
            <% @categories.each do |category| %>
              <div class="place-wrap col-md-10">
                <%= category.name %>
                <%= link_to '削除', admin_category_path(category.id), method: :delete, class: 'btn btn-sm btn-outline-danger', 'data-confirm' => 'このカテゴリーを削除します' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="new">
        <div class="row my-3"><h5>追加登録</h5></div>
        <%= form_with model: @category, url: admin_categories_path do |f| %>
          <div class="form-group row">
            <%= f.label :name, 'カテゴリー名', class: 'col-md-3 offset-1' %>
            <%= f.text_field :name, autofocus: true, class: 'col-md-5' %>
            <%= f.submit '追加', class: 'btn btn-sm btn-outline-info col-md-2' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



    </div>
