<div class="container my-3">
  <div class="row">
    <div class="col-md-6 text-center border-bottom">

      <div class="card">
        <div class="card-header">
          <h2 class="m-3"><i class="fas fa-dog"></i> "<%= current_member.nickname %>さん"へのコメント(未読分)</h2>
        </div>
        <div class="card-body">
          <!--通知が存在する場合-->
          <% if @notifications.exists? %>
            <% @notifications.each do |notification| %>
              <% if notification.post.member.id == current_member.id %>
                <div class="row border-bottom align-bottom">
                  <div class="col-md-4">
                    <%= link_to member_path(notification.comment.member) do %>
                      <%= image_tag notification.comment.member.get_image, size: '30x30' %><%= notification.comment.member.name %>
                    <% end %>
                    さんから
                  </div>
                  <p class="col-md-4 px-2"><%= notification.post %>に</p>
                  <div class="col-md-4 px-2">
                    <%= link_to post_path(notification.post) do %>
                      "<%= notification.post.name %>"
                    <% end %>
                    に対してコメントがあります。
                  </div>
                  <p class="col-md-3"><small><%= notification.created_at.strftime('%Y/%m/%d') %></small></p>
                  <%= link_to post_path(notification.post), style: 'color: gray;' do %>
                    <i class="fas fa-eye"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <!--通知が存在しない場合-->
          <% else %>
            <p>現在未読の通知はありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



