<div class="container my-3">
  <div class="row">
    <div class="col-md-10 mx-auto">

      <div class="card">
        <div class="card-header">
          <h3 class="m-3"><i class="fas fa-dog"></i> "<%= current_member.nickname %>" さんへのコメント</h3>
          <p class="text-right">
            <%= link_to "全部", notifications_path, class: "btn btn-sm btn-outline-success" %>
            <%= link_to "未読", notifications_path(filter: "unchecked"), class: "btn btn-sm btn-outline-success" %>
            <small>(<%= @notifications.count %>件)</small>
          </p>
        </div>
        <div class="card-body">
          <!--通知が存在する場合-->
          <% if @notifications.exists? %>
            <% @notifications.each do |notification| %>
              <% if notification.visited_id == current_member.id %>
                <div class="row align-bottom">
                  <div class="col-md-9">
                    <%= link_to member_path(notification.comment.member) do %>
                      <%= image_tag notification.comment.member.get_image, size: '30x30' %> <%= notification.comment.member.nickname %>
                    <% end %>
                    さんから
                    <%= link_to post_path(notification.post) do %>
                      "<b><%= notification.post.name %></b>"
                    <% end %>
                    に対してコメントがあります。
                  </div>
                  <div class="col-md-2"><small><%= notification.created_at.strftime('%Y/%m/%d') %></small></div>
                  <div class="col-md-1">
                    <%= link_to notification_path(notification), style: 'color: gray;' do %>
                      <i class="far fa-comment-dots"></i>
                    <% end %>
                  </div>
                </div>
                <div class="row pl-5 border-bottom align-bottom">
                  『 <%= notification.comment.comment %> 』
                </div>
              <% end %>
            <% end %>
          <!--通知が存在しない場合-->
          <% else %>
            <p>現在、未読のコメントはありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



