<div class="container my-3">
  <div class="row">
    <div class="col-md-10 mx-auto">

      <div class="card">
        <div class="card-header">
          <h3 class="title m-3"><i class="far fa-comment-dots"></i> 
            "<%= current_member.nickname %>" さんへのコメント 
            <small>(未読は<%= @notifications.where(checked: false).count %>件です)</small>
          </h3>
          <div class="text-right">
            <%= link_to "全部", notifications_path, class: "btn btn-sm btn-outline-success" %>
            <%= link_to "未読", notifications_path(filter: "unchecked"), class: "btn btn-sm btn-outline-success" %>
          </div>
          <div class="text-right">
            <small>（<i class="fas fa-check" style="color:red"></i>は未読です）</small>
          </div>
        </div>
        <div class="card-body">
          <!--通知が存在する場合-->
          <% if @notifications.exists? %>
            <% @notifications.each do |notification| %>
              <% if notification.visited_id == current_member.id %>
                <div class="row align-bottom">
                  <div class="col-md-8">
                    <%= link_to member_path(notification.comment.member), class: 'link' do %>
                      <%= image_tag notification.comment.member.get_image, size: '30x30' %> <%= notification.comment.member.nickname %>
                    <% end %>
                    さんから
                    <%= link_to post_path(notification.post), class: 'link' do %>
                      "<b><%= notification.post.name %></b>"
                    <% end %>
                    に対してコメントがあります。
                  </div>
                  <div class="col-md-2"><small><%= l notification.created_at %></small></div>
                  <div class="col-md-1">
                    <%= link_to notification_path(notification), class: 'link' do %>
                      <i class="far fa-comment-dots"></i>
                    <% end %>
                  </div>
                  <div class="col-md-1">
                    <%= link_to recheck_notification_path(notification), method: :put, class: 'link' do %>
                      <i class="fas fa-check" style="color: <%= notification.checked? ? 'gray' : 'red' %>;"></i>
                    <% end %>
                  </div>
                </div>
                    
                <div class="row pl-5 border-bottom align-bottom">
                  『 <%= notification.comment.comment.truncate(20) %> 』
                </div>
              <% end %>
            <% end %>
            <%= paginate @notifications %>
          <!--通知が存在しない場合-->
          <% else %>
            <p>現在、未読のコメントはありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



