<div class="container my-3">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="row">
        <div class="col">
          <h2 class="title m-3"><i class="far fa-comment-dots"></i>コメント確認</h2>
        </div>
      </div>

      <!--投稿施設詳細-->
      <div class="row">
        <div class="col-md-10 mx-auto my-3">
          <div class="place-info border p-3">
            <div class="row border-bottom mb-3">
              <div class="col-md-3 col-4"><p>名称：</p></div>
              <div class="col-md-9 col-8"><p><%= @post.name %></p></div>
            </div>
            <div class="row my-3">
              <div class="col-md-3 col-4">施設カテゴリー：</div>
              <div class="col-md-9 col-8"><%= @post.category.name %></div>
            </div>
            <div class="row my-3">
              <div class="col-md-3 col-4">一言紹介：</div>
              <div class="col-md-9 col-8"><%= @post.introduction %></div>
            </div>
            <div class="row my-3">
              <div class="col-md-3 col-4">詳細：</div>
              <div class="col-md-9 col-8"><%= safe_join(@post.information.split("\n"),tag(:br)) %></div>
            </div>
            <div class="row my-3">
              <div class="col-md-3 col-4">タグ：</div>
              <div class="col-md-9 col-8"><%= @post.tags.pluck(:name).join(' / ') %></div>
            </div>
            <div class="row my-3">
              <div class="col-md-3 col-4">施設住所:</div>
              <div class="col-md-9 col-8"><%= @post.address %></div>
            </div>
            <div class="row mt-3">
              <div class="col-md-3 col-4">投稿日：</div>
              <div class="col-md-9 col-8"><%= l @post.created_at, format: :time %></div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3 col-4">更新日：</div>
              <div class="col-md-9 col-8"><%= l @post.updated_at, format: :time %></div>
            </div>
          </div>
        </div>
      </div>
        
      <!--コメント-->
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="card">
            <div class="card-header">
              必要あれば施設情報の更新をお願いします
              <!--編集ボタン-->
              <%= link_to edit_post_path(@post), class: ' link col-md-1' do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </div>
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-md-3 col-12">
                  <%= image_tag @comment.member.get_image, size: '30x30', style: 'border-radius: 50%' %>
                  <%= @comment.member.nickname %>
                </div>
                <div class="col-md-6 col-9"><%= safe_join(@comment.comment.split("\n"),tag(:br)) %></div>
                <div class="col-md-3 col-3"><small><%= l @comment.created_at, format: :time %></small></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row"></div>
    </div>
  </div>
</div>