<div class="container my-3">
  <div class="row">
    <div class="col-md-8">
      <h2 class="m-3 border-bottom"><i class="fas fa-dog"></i> 気になる施設一覧</h2>
    </div>
  </div>
  <!--tab表示-->
  <div class="wrap">
    <ul id="tab-menu">
      <li><%= link_to '全て', post_interests_path , class: 'active' %></li>
      <!--タブに表示されたカテゴリー名に紐づく投稿を一覧表示-->
      <% @categories.each do |category| %>
        <li><%= link_to category.name, post_interests_path(category: category.name), class: ('active' if category == @category) %></li>
      <% end %>
    </ul>
  </div>
  <%= link_to '最新順(更新日)', search_path(condition: :latest, category: @category&.name, word: @word) %>
  <%= link_to '古い順(投稿日)', search_path(condition: :old, category: @category&.name, word: @word) %>
  <%= link_to 'おすすめ順', search_path(condition: :most_favorited, category: @category&.name, word: @word) %>
  <% if @interest_posts.empty? %>
    <div class="row">
      <div class="col mt-5 text-center">
        <h4>ブックマークした施設はありません</h4>
      </div>
    </div>
  <% else %>
    <div class="wrap">
      <!--一覧-->
      <%= render 'public/posts/index', posts: @interest_posts %>
    </div>
  <% end %>
</div>
