<div class="container my-3">
  <div class="row">
    <div class="col mb-3">
      <h2 class="title m-3"><i class="fas fa-paw"></i> ブックマークした施設一覧</h2>
      <%= link_to '最新順(更新日)', post_interests_path(condition: :latest, category: @category&.name), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
      <%= link_to '古い順(投稿日)', post_interests_path(condition: :old, category: @category&.name), class: 'btn btn-sm btn-outline-secondary rounded-pill' %>
      <%= link_to post_interests_path(condition: :most_favorited, category: @category&.name), class: 'btn btn-sm btn-outline-secondary rounded-pill' do %>
        <i class="fas fa-star"></i>おすすめ順
      <% end %>
    </div>
  </div>
  <!--tab表示-->
  <div class="wrapper">
    <ul class="tab-menu">
      <li class="<%= 'active' unless @category %>"><%= link_to '全て', post_interests_path %></li>
      <!--タブに表示されたカテゴリー名に紐づく投稿を一覧表示-->
      <% @categories.each do |category| %>
        <li class="<%= 'active' if category == @category %>"><%= link_to category.name, post_interests_path(category: category.name) %></li>
      <% end %>
    </ul>

    <div class="tab-contents">
      <div class="tab-area is-active">
        <% if @interest_posts.empty? %>
          <div class="row">
            <div class="col-md-10 mt-5 text-center">
              <h4>ブックマークした施設はありません</h4>
            </div>
          </div>
        <% else %>
          <div class="row">
            <!--一覧-->
            <div class="col-md-8">
              <%= render 'public/posts/index', posts: @interest_posts %>
              <div class="row justify-content-center mt-3">
                <%= paginate @interest_posts %>
              </div>
            </div>
            <!--Map-->
            <div class="col-md-4">
              <%= render 'public/posts/map_index', posts: @interest_posts %>
            </div>
          </div>
        <% end %>
        <!--Top-pageリンク-->
        <p id="page-top"><a href="#">Page Top</a></p>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'pagetop' %>